<div class="kt-portlet kt-portlet-edit-form kt-portlet--mobile" *ngIf="item">
  <edit-header *ngIf="breadcrumbs && actions && actions.length > 0" [breadcrumbs]="breadcrumbs" [actions]="actions" [processing]="processing"></edit-header>
  <div class="kt-portlet__body" *ngIf="!loading">
    <div class="kt-form kt-form--label-right">
      <div class="row">
        <div class="col-sm-4">
          <div class="kt-portlet kt-portlet--tabs" style="height: 94%;">
            <div class="kt-portlet__head">
              <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">Khách hàng</h3>
              </div>
            </div>
            <div class="kt-portlet__body">
              <div class="row">
                <div class="col-sm-12">
                  <div class="row">
                    <label class="col-sm-4 col-form-label">MeeyID:</label>
                    <label class="col-sm-8 col-form-label">
                      <a (click)="viewUser(item.MeeyId)" tooltip="Xem chi tiết"> {{ item.MeeyId }}</a>
                    </label>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="row">
                    <label class="col-sm-4 col-form-label">Họ tên:</label>
                    <label class="col-sm-8 col-form-label" *ngIf="userOrder">{{ userOrder.name }}</label>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="row">
                    <label class="col-sm-4 col-form-label">Số điện thoại:</label>
                    <label class="col-sm-8 col-form-label" *ngIf="userOrder">{{ userOrder.phone }}</label>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="row">
                    <label class="col-sm-4 col-form-label">Email:</label>
                    <label class="col-sm-8 col-form-label" *ngIf="userOrder">{{ userOrder.email }}</label>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="col-sm-8">
          <div class="kt-portlet kt-portlet--tabs">
            <div class="kt-portlet__head">
              <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">Thông tin đơn hàng ( {{ item.Code }} )</h3>
                <div style="margin-left: 30px;" [innerHTML]="statusOrder"></div>
                <a href="javascript:;" (click)="popupHistory()" class="link-tabs-right">Xem lịch sử</a>
              </div>
            </div>
            <div class="kt-portlet__body">
              <div class="row">
                <div class="col-sm-7">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="row">
                        <label class="col-sm-5 col-form-label">Tổng thanh toán:</label>
                        <label class="col-sm-4 col-form-label"><b style="color: #5867dd;">{{ item.Price ? item.Price.toLocaleString("vi-VN", { maximumFractionDigits: 2 }) : 0 }} đ</b></label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="row">
                        <label class="col-sm-5 col-form-label">Phương thức thanh toán:</label>
                        <label class="col-sm-6 col-form-label">
                          <div *ngIf="item.Price" [innerHTML]="paymentMethod"></div>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="row">
                        <label class="col-sm-5 col-form-label">Mã giao dịch thanh toán:</label>
                        <label class="col-sm-4 col-form-label"><span style="color: #5867dd;">{{ TransactionId }}</span></label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="row">
                        <label class="col-sm-5 col-form-label">Trạng thái giao dịch:</label>
                        <label class="col-sm-4 col-form-label">
                          <div [innerHTML]="statusPayment"></div>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-5">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="row">
                        <label class="col-sm-6 col-form-label">Nơi thực hiện:</label>
                        <label class="col-sm-6 col-form-label">{{ item.Source }}</label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="row">
                        <label class="col-sm-6 col-form-label">Nguồn giới thiệu:</label>
                        <label class="col-sm-6 col-form-label">{{ getAffiliateName(item.AffiliateId) }}</label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="row">
                        <label class="col-sm-6 col-form-label">Người thực hiện:</label>
                        <label class="col-sm-6 col-form-label">
                          <div [innerHTML]="getCreateBy()"></div>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="row">
                        <label class="col-sm-6 col-form-label">Thời gian yêu cầu:</label>
                        <label class="col-sm-6 col-form-label">{{ item.CreatedDate | datetimex }}</label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="row">
                        <label class="col-sm-6 col-form-label">Thời gian thanh toán:</label>
                        <label class="col-sm-6 col-form-label">{{ item.PaymentHistory?.createdAt | datetimex }}</label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="row">
                        <label class="col-sm-6 col-form-label">Sale:</label>
                        <label class="col-sm-6 col-form-label">{{ item.Sale?.sale_email }}</label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="row">
                        <label class="col-sm-6 col-form-label">CSKH:</label>
                        <label class="col-sm-6 col-form-label">{{ item.Sale?.support_email }}</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="kt-portlet kt-portlet--tabs">
            <div class="kt-portlet__head">
              <div class="kt-portlet__head-toolbar">
                <ul class="nav nav-tabs nav-tabs-line nav-tabs-line-success nav-tabs-line-2x">
                  <li class="nav-item">
                    <a class="nav-link" (click)="selectedTab('services')" [ngClass]="{'active':tab == 'services'}">
                      <i class="la la-th-list"></i> Chi tiết các dịch vụ trong đơn hàng
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" (click)="selectedTab('history')" [ngClass]="{'active':tab == 'history'}">
                      <i class="la la-history"></i> Lịch sử thanh toán
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="kt-portlet__body">
              <div class="tab-content">
                <div class="tab-pane" [ngClass]="{'active':tab == 'services'}">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="d-flex">
                        <div>
                          <label class="col-form-label">Hình thức bán:</label>
                          <label class="col-form-label">{{ serviceType }}</label>
                        </div>
                        <div>
                          <label class="col-form-label" *ngIf="combo">Tên Combo:</label>
                          <label class="col-form-label" *ngIf="combo">{{ comboName }}</label>
                        </div>
                        <div *ngIf="comboAmount">
                          <label class="col-form-label">Số lượng:</label>
                          <label class="col-form-label">{{ comboAmount | numberx }}</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <mo-order-service-grid [dataGrids]="listService" [orderId]="id" [providerId]="item.ProviderId" [isOrderAdmin]="isOrderAdmin"></mo-order-service-grid>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" [ngClass]="{'active':tab == 'history'}">
                  <div class="row">
                    <div class="col-sm-12">
                      <mo-order-payment-grid *ngIf="tab == 'history'" [filter]="filterTrans"></mo-order-payment-grid>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="kt-form" *ngIf="!item">
      {{ message }}
    </div>
  </div>
  <div class="kt-portlet__body" *ngIf="loading">
    <loading></loading>
  </div>
</div>

<ng-template #empty_content>
  <td colspan="2" style="margin: 20px">
    Hiện tại không có dữ liệu nào phù hợp
  </td>
</ng-template>