<div class="row edit-project-type" *ngIf="item && !loading">
    <div class="col-sm-12">
        <editor [(object)]="item" property="Type" [decorator]="{readonly: viewer}" [labelInline]="true" (valueChange)="toggleDisableButton()"></editor>
        <editor [(object)]="item" property="Name" [decorator]="{readonly: viewer}" [labelInline]="true" (valueChange)="toggleDisableButton()"></editor>
        <editor [(object)]="item" property="NameEn" [decorator]="{readonly: viewer}" [labelInline]="true" (valueChange)="toggleDisableButton()"></editor>
        <div class="d-flex" style="margin-bottom: -15px;">
            <label style="width: 150px;">&nbsp;</label>
            <editor [(object)]="item" property="RequireInformation" [decorator]="{label: '', readonly: viewer}" (valueChange)="toggleDisableButton()"></editor>
        </div>
        <editor [(object)]="item" property="Active" [decorator]="{readonly: viewer}" [labelInline]="true" (valueChange)="toggleDisableButton()"></editor>
    </div>
</div>
<div class="row row-loading" *ngIf="loading">
    <loading></loading>
</div>