::ng-deep .add-text-link {
  .url {
    display: flex;
    .label {
      display: flex;
      padding: 0 10px;
      max-height: 36px;
      width: fit-content;
      align-items: center;
      background-color: #eee;
      border: 1px solid #ccc;
      border-radius: 4px 0 0 4px;
    }
    .form-group {
      flex-grow: 1;
      .form-control {
        border-left: 0;
        border-radius: 0 4px 4px 0;
      }
    }
  }
}
