.popup-note-email {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    .row {
        width: 100%;
        .d-flex {
            white-space: nowrap;
        }
    }
    .error {
        color: #fd397a;
    }
}