.box-item {
    padding: 0;
    display: flex;
    margin: 0 -5px;
    overflow: auto;
    flex-wrap: wrap;
    list-style: none;
    max-height: 316px;
    align-items: center;
    li {
        margin: 5px;
        display: flex;
        padding: 16px 0;
        cursor: pointer;
        min-width: 114px;
        border-radius: 4px;
        position: relative;
        align-items: center;
        justify-content: center;
        border: 1px solid #ccc;
        &:hover {
            border: 1px solid #9aabff;
        }
        &.active {
            color: #fff;
            border: 1px solid #5d78ff;
            background-color: #5d78ff;
        }
        &.disabled {
            color: #666;
            cursor: not-allowed;
            pointer-events: none;
            background-color: #efefef;
        }
        .close {
            top: -1px;
            opacity: 1;
            right: -1px;
            float: none;
            color: #888;
            display: flex;
            border-radius: 4px;
            position: absolute;
            align-items: center;
            justify-content: center;
            border: 1px solid #ccc;
            &:hover {
                color: #333;
                border: 1px solid #333;
            }
            i {
                padding: 3px;
                font-size: 14px;
                font-weight: bold;
            }
        }
    }
}

.kt-portlet--tabs {
    margin: 0;
    padding: 0;
    .kt-portlet__head {
        padding: 0;
    }
    .kt-portlet__body {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }
}

::ng-deep {
    .popup-push-article {
        margin-top: -15px;
        .form-group {
            margin-bottom: 5px;
        }
        .kt-portlet__head {
            border: none;
            margin: 0 !important;
            padding: 0 !important;
            min-height: unset !important;
            .kt-portlet__head-toolbar {
                width: 100%;
                .nav {
                    width: 100%;
                    display: flex;
                    overflow: hidden;
                    overflow-x: auto;
                    flex-wrap: nowrap;
                    white-space: nowrap;
                    border-bottom: 1px solid #ccc !important;
                    li {
                        margin-bottom: 0;
                    }
                }
            }
        }
        .datepicker-inline .datepicker {
            border-color: #e2e5ec;
        }
        .datepicker--cell.-selected- {
            font-weight: bold;
            border-radius: unset;
            background-color: #5867dd;
        }
    }
}

::ng-deep {
    @media screen and (max-width: 768px) {
        .popup-push-article {
            .kt-portlet__body {
                padding: 15px 0px !important;
                .kt-portlet__body {
                    padding: 10px 0px !important;
                    .box-item {
                        li {
                            min-width: 112px;
                        }
                    }
                }
            }
        }
    }
}
