<div class="row" *ngIf="item && !loading">
    <div class="col-sm-12">
        <h6>Thông tin doanh nghiệp</h6>
    </div>
    <div class="col-sm-4">
        <editor [(object)]="item" property="Name"></editor>
    </div>
    <div class="col-sm-4">
        <editor [(object)]="item" property="Phone"></editor>
    </div>
    <div class="col-sm-4">
        <editor [(object)]="item" property="Email"></editor>
    </div>
    <div class="col-sm-4">
        <editor [(object)]="item" property="TaxCode"></editor>
    </div>
    <div class="col-sm-8">
        <editor [(object)]="item" property="Website"></editor>
    </div>
    <div class="col-sm-4">
        <editor [(object)]="item" property="CityId"></editor>
    </div>
    <div class="col-sm-4">
        <editor [(object)]="item" property="DistrictId"></editor>
    </div>
    <div class="col-sm-4">
        <editor [(object)]="item" property="WardId"></editor>
    </div>
    <div class="col-sm-12">
        <editor [(object)]="item" property="Address"></editor>
    </div>
    <div class="col-sm-12">
        <h6>Thông tin người đại diện</h6>
    </div>
    <div class="col-sm-4">
        <editor [(object)]="item" property="Leader"></editor>
    </div>
    <div class="col-sm-4">
        <editor [(object)]="item" property="LeaderPhone"></editor>
    </div>
    <div class="col-sm-4">
        <editor [(object)]="item" property="LeaderEmail"></editor>
    </div>
</div>
<div class="row row-loading" *ngIf="loading">
    <loading></loading>
</div>