<div class="kt-portlet kt-portlet-edit-form kt-portlet--mobile">
  <edit-header *ngIf="breadcrumbs && actions && actions.length > 0" [breadcrumbs]="breadcrumbs" [actions]="actions" [processing]="processing" [showErrors]="false"></edit-header>
  <div class="kt-portlet__body" *ngIf="!loading">
    <div class="kt-form kt-form--label-right">
      <div class="row">
        <div class="col-sm-12">
          <div class="kt-portlet kt-portlet--tabs">
            <div class="kt-portlet__head">
              <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                  Thông Tin Hóa Đơn Xuất
                </h3>
              </div>
            </div>
            <div class="kt-portlet__body">
              <div class="row">
                <div class="col-sm-6">
                  <div class="row">
                    <label class="col-sm-3 col-form-label">Mã tiền thu <span class="text-danger">*</span></label>
                    <div class="col-sm-7 col-form-label" *ngIf="!addInvoice">
                      <editor [(object)]="item" property="RevenueCode" [viewer]="splitInvoice" [decorator]="{ label: '' }"></editor>
                    </div>
                    <div class="col-sm-7 col-form-label" *ngIf="addInvoice">
                      <editor [(object)]="item" property="RevenueCode" [viewer]="splitInvoice" [decorator]="{ label: '', readonly: true }"></editor>
                    </div>
                  </div>
                  <div class="row">
                    <label class="col-sm-3 col-form-label">Doanh thu trước thuế <span class="text-danger">*</span></label>
                    <div class="col-sm-7 col-form-label">
                      <editor [(object)]="item" property="Amount" [viewer]="splitInvoice" [decorator]="{ label: '', readonly: true }"></editor>
                    </div>
                  </div>
                  <div class="row">
                    <label class="col-sm-3 col-form-label">Thuế GTGT <span class="text-danger">*</span></label>
                    <div class="col-sm-7 col-form-label">
                      <editor [(object)]="item" property="VATMoney" [viewer]="splitInvoice" [decorator]="{ label: '', readonly: true }"></editor>
                    </div>
                  </div>
                  <div class="row">
                    <label class="col-sm-3 col-form-label">Tiền thanh toán <span class="text-danger">*</span></label>
                    <div class="col-sm-7 col-form-label">
                      <editor [(object)]="item" property="Payment" [viewer]="splitInvoice" [decorator]="{ label: '', readonly: true }"></editor>
                    </div>
                  </div>
                  <div class="row">
                    <label class="col-sm-3 col-form-label">Hình thức thanh toán <span class="text-danger">*</span></label>
                    <div class="col-sm-7 col-form-label">
                      <editor [(object)]="item" property="PaymentMethod" [viewer]="splitInvoice" [decorator]="{ label: '' }"></editor>
                    </div>
                  </div>
                  <div class="row">
                    <label class="col-sm-3 col-form-label">Khách hàng <span class="text-danger">*</span></label>
                    <div class="col-sm-7 col-form-label">
                      <editor [(object)]="item" property="CustomerName" [viewer]="splitInvoice" [decorator]="{ label: '' }"></editor>
                    </div>
                  </div>
                  <div class="row">
                    <label class="col-sm-3 col-form-label">Mã số thuế</label>
                    <div class="col-sm-7 col-form-label">
                      <editor [(object)]="item" property="TaxCode" [viewer]="splitInvoice" [decorator]="{ label: '' }"></editor>
                    </div>
                  </div>
                  <div class="row">
                    <label class="col-sm-3 col-form-label">Địa chỉ <span class="text-danger">*</span></label>
                    <div class="col-sm-7 col-form-label">
                      <editor [(object)]="item" property="CustomerAddress" [viewer]="splitInvoice" [decorator]="{ label: '' }"></editor>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="row">
                    <label class="col-sm-3 col-form-label">Mail nhận hóa đơn <span class="text-danger">*</span></label>
                    <div class="col-sm-7 col-form-label">
                      <editor [(object)]="item" property="CustomerEmail" [viewer]="splitInvoice" [decorator]="{ label: '' }"></editor>
                    </div>
                  </div>
                  <div class="row">
                    <label class="col-sm-3 col-form-label">Nội dung <span class="text-danger">*</span></label>
                    <div class="col-sm-7 col-form-label">
                      <editor [(object)]="item" property="Content" [viewer]="splitInvoice" [decorator]="{ label: '' }"></editor>
                    </div>
                  </div>
                  <div class="row">
                    <label class="col-sm-3 col-form-label">Ngày thanh toán <span class="text-danger">*</span></label>
                    <div class="col-sm-7 col-form-label">
                      <editor [(object)]="item" property="PaymentDate" [viewer]="splitInvoice" [decorator]="{ label: '' }"></editor>
                    </div>
                  </div>
                  <div class="row">
                    <label class="col-sm-3 col-form-label">Ngày xuất hóa đơn</label>
                    <div class="col-sm-7 col-form-label">
                      <editor [(object)]="item" property="InvoiceDate" [viewer]="splitInvoice" [decorator]="{ label: '', readonly: true }"></editor>
                    </div>
                  </div>
                  <div class="row">
                    <label class="col-sm-3 col-form-label">Ngân hàng thanh toán</label>
                    <div class="col-sm-7 col-form-label">
                      <editor [(object)]="item" property="BankName" [viewer]="splitInvoice" [decorator]="{ label: '' }"></editor>
                    </div>
                  </div>
                  <div class="row">
                    <label class="col-sm-3 col-form-label">Số hóa đơn</label>
                    <div class="col-sm-7 col-form-label">
                      <editor [(object)]="item" property="Code" [viewer]="splitInvoice" [decorator]="{ label: '', readonly: true }"></editor>
                    </div>
                  </div>
                  <div class="row">
                    <label class="col-sm-3 col-form-label">Ghi chú</label>
                    <div class="col-sm-7 col-form-label">
                      <editor [(object)]="item" property="Note" [viewer]="splitInvoice" [decorator]="{ label: '' }"></editor>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ng-container *ngIf="showChildrens && this.items.length > 0">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
              Thông Tin Các Hóa Đơn Gộp
            </h3>
          </div>
        </div>
        <div class="row" *ngFor="let invoice of items; index as i">
          <div class="col-sm-12">
            <div class="kt-portlet kt-portlet--tabs">
              <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                  <h3 class="kt-portlet__head-title">
                    Hóa đơn {{ i + 1 }}
                  </h3>
                  <div class="btn-tabs-right">
                    <button class="btn btn-danger btn-sm" (click)="removeInvoice(i)">
                      <i class="la la-history"></i>
                      Xóa
                    </button>
                  </div>
                </div>
              </div>
              <div class="kt-portlet__body">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="row">
                      <label class="col-sm-3 col-form-label">Mã tiền thu <span class="text-danger" *ngIf="addInvoice">*</span></label>
                      <div class="col-sm-7" [ngClass]="{'col-form-label': !addInvoice}">
                        <editor [(object)]="items[i]" property="RevenueCode" [viewer]="!addInvoice" [decorator]="{ label: '', index: i, readonly: true }"></editor>
                      </div>
                    </div>
                    <div class="row">
                      <label class="col-sm-3 col-form-label">Doanh thu trước thuế <span class="text-danger" *ngIf="addInvoice">*</span></label>
                      <div class="col-sm-7" [ngClass]="{'col-form-label': !addInvoice}">
                        <editor [(object)]="items[i]" property="Amount" [viewer]="!addInvoice" (valueChange)="amountChange(items[i])" [decorator]="{ label: '', index: i, max: item.Amount }"></editor>
                      </div>
                    </div>
                    <div class="row">
                      <label class="col-sm-3 col-form-label">Thuế GTGT <span class="text-danger" *ngIf="addInvoice">*</span></label>
                      <div class="col-sm-7" [ngClass]="{'col-form-label': !addInvoice}">
                        <editor [(object)]="items[i]" property="VATMoney" [viewer]="!addInvoice" [decorator]="{ label: '', index: i, max: item.VATMoney }"></editor>
                      </div>
                    </div>
                    <div class="row">
                      <label class="col-sm-3 col-form-label">Tiền thanh toán <span class="text-danger" *ngIf="addInvoice">*</span></label>
                      <div class="col-sm-7" [ngClass]="{'col-form-label': !addInvoice}">
                        <editor [(object)]="items[i]" property="Payment" [viewer]="!addInvoice" [decorator]="{ label: '', index: i, max: item.Payment }"></editor>
                      </div>
                    </div>
                    <div class="row">
                      <label class="col-sm-3 col-form-label">Hình thức thanh toán <span class="text-danger" *ngIf="addInvoice">*</span></label>
                      <div class="col-sm-7" [ngClass]="{'col-form-label': !addInvoice}">
                        <editor [(object)]="items[i]" property="PaymentMethod" [viewer]="!addInvoice" [decorator]="{ label: '', index: i }"></editor>
                      </div>
                    </div>
                    <div class="row">
                      <label class="col-sm-3 col-form-label">Khách hàng <span class="text-danger" *ngIf="addInvoice">*</span></label>
                      <div class="col-sm-7" [ngClass]="{'col-form-label': !addInvoice}">
                        <editor [(object)]="items[i]" property="CustomerName" [viewer]="!addInvoice" [decorator]="{ label: '', index: i }"></editor>
                      </div>
                    </div>
                    <div class="row">
                      <label class="col-sm-3 col-form-label">Mã số thuế </label>
                      <div class="col-sm-7" [ngClass]="{'col-form-label': !addInvoice}">
                        <editor [(object)]="items[i]" property="TaxCode" [viewer]="!addInvoice" [decorator]="{ label: '', index: i }"></editor>
                      </div>
                    </div>
                    <div class="row">
                      <label class="col-sm-3 col-form-label">Địa chỉ <span class="text-danger" *ngIf="addInvoice">*</span></label>
                      <div class="col-sm-7" [ngClass]="{'col-form-label': !addInvoice}">
                        <editor [(object)]="items[i]" property="CustomerAddress" [viewer]="!addInvoice" [decorator]="{ label: '', index: i }"></editor>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="row">
                      <label class="col-sm-3 col-form-label">Mail nhận hóa đơn <span class="text-danger" *ngIf="addInvoice">*</span></label>
                      <div class="col-sm-7" [ngClass]="{'col-form-label': !addInvoice}">
                        <editor [(object)]="items[i]" property="CustomerEmail" [viewer]="!addInvoice" [decorator]="{ label: '', index: i }"></editor>
                      </div>
                    </div>
                    <div class="row">
                      <label class="col-sm-3 col-form-label">Nội dung <span class="text-danger" *ngIf="addInvoice">*</span></label>
                      <div class="col-sm-7" [ngClass]="{'col-form-label': !addInvoice}">
                        <editor [(object)]="items[i]" property="Content" [viewer]="!addInvoice" [decorator]="{ label: '', index: i }"></editor>
                      </div>
                    </div>
                    <div class="row">
                      <label class="col-sm-3 col-form-label">Ngày thanh toán <span class="text-danger" *ngIf="addInvoice">*</span></label>
                      <div class="col-sm-7" [ngClass]="{'col-form-label': !addInvoice}">
                        <editor [(object)]="items[i]" property="PaymentDate" [viewer]="!addInvoice" [decorator]="{ label: '', index: i }"></editor>
                      </div>
                    </div>
                    <div class="row">
                      <label class="col-sm-3 col-form-label">Ngày xuất hóa đơn</label>
                      <div class="col-sm-7" [ngClass]="{'col-form-label': !addInvoice}">
                        <editor [(object)]="items[i]" property="InvoiceDate" [viewer]="!addInvoice" [decorator]="{ label: '', index: i, readonly: true }"></editor>
                      </div>
                    </div>
                    <div class="row">
                      <label class="col-sm-3 col-form-label">Ngân hàng thanh toán </label>
                      <div class="col-sm-7" [ngClass]="{'col-form-label': !addInvoice}">
                        <editor [(object)]="items[i]" property="BankName" [viewer]="!addInvoice" [decorator]="{ label: '', index: i }"></editor>
                      </div>
                    </div>
                    <div class="row">
                      <label class="col-sm-3 col-form-label">Số hóa đơn</label>
                      <div class="col-sm-7" [ngClass]="{'col-form-label': !addInvoice}">
                        <editor [(object)]="items[i]" property="Code" [viewer]="!addInvoice" [decorator]="{ label: '', index: i, readonly: true }"></editor>
                      </div>
                    </div>
                    <div class="row">
                      <label class="col-sm-3 col-form-label">Ghi chú</label>
                      <div class="col-sm-7" [ngClass]="{'col-form-label': !addInvoice}">
                        <editor [(object)]="items[i]" property="Note" [viewer]="!addInvoice" [decorator]="{ label: '', index: i }"></editor>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="kt-portlet__head" *ngIf="addInvoice">
          <div class="kt-portlet__head-label" style="margin: auto;">
            <button type="button" class="btn btn-success" (click)="addNewInvoice()"><i class="la la-plus" aria-hidden="true"></i> Thêm hóa đơn</button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="kt-portlet__body" *ngIf="loading">
    <loading></loading>
  </div>
</div>
