.form-center {
    display: flex;
    justify-content: center;
}

.form-margin {
    margin-left: -10px;
}

::ng-deep .header-search {
    display: flex;

    .form-group {
        width: 100%;
        margin-bottom: 1rem;

        .form-control {
            border-radius: 4px 0 0 4px;
        }
        .select2-selection--single {
            border-radius: 4px 0 0 4px;
        }
    }

    .btn-primary {
        border-radius: 0 4px 4px 0;
    }
}

::ng-deep .add-transaction {
    .box-item {
        width: 100%;
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 15px;
        border: 1px solid #ccc;

        .form-group {
            &:last-of-type {
                margin-bottom: 0;
            }
            .kt-checkbox {
                margin-top: 15px;
                margin-bottom: 0;
            }
            .kt-radio-inline .kt-radio {
                margin-bottom: 0;
                label {
                    margin-bottom: 0;
                }
            }
        }

        .form-margin {
            .col-form-label {
                padding-top: 8px;
                padding-bottom: 7px;
            }
        }

        .kt-portlet-grid {
            margin-bottom: 0 !important;
        }
    }
}