<div class="row box-edit-question" *ngIf="item && !loading">
    <div class="col-sm-12">
        <div class="box-item">
            <div class="row">
                <div class="col-sm-4">
                    <editor [(object)]="item" property="UserId" [decorator]="{ label: 'Tài khoản', index: index }" (optionChange)="userChange($event)" [readonly]="readonly"></editor>
                </div>
                <div class="col-sm-4">
                    <editor [(object)]="item" property="NickName" [decorator]="{ label: 'Biệt danh', index: index }" [readonly]="readonly"></editor>
                </div>
                <div class="col-sm-4">
                    <editor [(object)]="item" property="PublishedAt" [decorator]="{ index: index }" [readonly]="readonly" (valueChange)="changePublishedAt()"></editor>
                    <span *ngIf="isValidPublishAt == false" style="color: red;">Thời gian đăng không được nhỏ hơn thời gian khi bấm gửi review</span>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-sm-12">
                    <label>Viết câu hỏi về dự án <span style="color: red;">*</span></label>
                    <div class="box-editor">
                        <editor [(object)]="item" property="Comment" [decorator]="{ label: '', index: index}" [readonly]="readonly"></editor>
                        <editor #uploadFiles [(object)]="item" property="Files" [decorator]="{ label: '', index: index}" [readonly]="readonly"></editor>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12" *ngIf="arrayReplies && arrayReplies.length >= 0 && id">
        <div *ngFor="let item of arrayReplies; let i = index;" class="box-item">
            <div class="index">Phản hồi {{ i + 1 }}</div>
            <mrv-edit-reply #editorReply [index]="(index * 100) + i" [questionId]="id"></mrv-edit-reply>
            <button class="btn btn-danger" *ngIf="item.allowDelete" (click)="removeMoreReply(i)"><i class="la la-times"></i></button>
        </div>
        <div class="buttons" *ngIf="arrayReplies.length < 10">
            <button class="btn btn-success" (click)="addMoreReply()">
                <i class="la la-plus mr-2"></i>
                Thêm phản hồi
            </button>
        </div>
    </div>
</div>
<div class="row row-loading" *ngIf="loading">
    <loading></loading>
</div>