.view-similarity-article {
    h5 {
        margin: 10px 0;
        color: rgba(30, 30, 45, 0.8);
    }
    .box-item {
        border-radius: 4px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        background-color: #fff;
        padding: 10px 20px 0 20px;
    }
}