.kt-portlet {
    border: 1px solid #e8ecfa;
    &.kt-portlet-right {
        height: calc(100% - 20px);
    }
    &.kt-portlet-bottom {
        margin-bottom: 0;
    }
    .kt-portlet__head-title {
        padding-left: 20px;
    }
}

a {
    cursor: pointer;
}

.error {
    color: #fd397a;
    margin-top: 10px;
}