<div>
    <h6>Bảng chú thích màu</h6>
    <ul>
        <li>
            <div class="item yellow"></div>
            <div>Số lượng Id tạo mới</div>
        </li>
        <li>
            <div class="item pink"></div>
            <div>Số lượng id tạo mới đã xác thực sđt</div>
        </li>
        <li>
            <div class="item red"></div>
            <div>Số lượng id tạo mới đã xác thực sđt và đã đăng nhập lần đầu</div>
        </li>
        <li>
            <div class="item yellowgreen"></div>
            <div>Số lượng id tạo mới bởi đối tác (Dùng QR)</div>
        </li>
    </ul>
</div>