<div class="row edit-schedule-history" *ngIf="item && !loading">
    <div class="col-sm-12">
        <editor [(object)]="item" property="DateTime" [labelInline]="true" [decorator]="{readonly: viewer}"></editor>
        <editor [(object)]="item" property="UserId" [labelInline]="true" [decorator]="{readonly: viewer}"></editor>
        <editor [(object)]="item" property="Content" [labelInline]="true" [decorator]="{readonly: viewer}"></editor>
    </div>
</div>
<div class="row" *ngIf="loading" style="min-height: 200px;">
    <loading></loading>
</div>