<div class="row" *ngIf="item">
    <div class="col-sm-12">
        <editor [(object)]="item" property="Name" [viewer]="true"></editor>
        <editor [(object)]="item" property="Phone" [viewer]="true"></editor>
        <editor [(object)]="item" property="Email" [viewer]="true"></editor>
        <editor *ngIf="item.User" [(object)]="item" property="User" [viewer]="true"></editor>
        <div style="margin-top: 5px;">
            <editor [(object)]="item" property="Notes"></editor>
        </div>
    </div>
    <div class="col-sm-12 error" *ngIf="errorMessage">
        {{ errorMessage }}
    </div>
</div>