<div class="row edit-project-type" *ngIf="item && !loading">
    <div class="col-sm-12">
        <editor [(object)]="item" property="Name" [decorator]="{readonly: viewer}" [labelInline]="true" (valueChange)="toggleDisableButton()"></editor>
    </div>
    <div class="col-sm-12">
        <editor [(object)]="item" property="Description" [decorator]="{readonly: viewer}" [labelInline]="true" (valueChange)="toggleDisableButton()"></editor>
    </div>
    <div class="col-sm-12">
        <editor #uploadImages [(object)]="item" property="Logo" [decorator]="{readonly: viewer}" [labelInline]="true" (valueChange)="toggleDisableButton()"></editor>
    </div>
</div>
<div class="row row-loading" *ngIf="loading">
    <loading></loading>
</div>