<div class="row transfer-article" *ngIf="item && items">
    <div class="col-sm-12" *ngIf="(item.Tab == 'customer' || item.Tab == 'customer-expired')  && type == AssignType.Sale">
        <label>Chọn loại điều chuyển</label>
        <editor [(object)]="item" property="TransferType" [decorator]="{ label: '' }"></editor>
    </div>
    <div class="row" *ngIf="item.TransferType && 
        item.TransferType == CustomerTransferType.TransferSale">
        <div class="col-sm-12" *ngIf="items" style="margin-bottom: 20px;">
            <label>Tổng số khách hàng điều chuyển: {{ ids.length }} / {{ items.length }}</label>
            <p class="warning text-danger" *ngIf="ids.length != items.length">Lưu ý: nếu khách hàng thuộc Sale/CSKH khác
                thì
                sẽ không thể điều chuyển</p>
            <mcrm-customer-list [customers]="items" [action]="action" (removed)="removedItems($event)"
                (selected)="closePopup()"></mcrm-customer-list>
        </div>
        <div class="col-sm-4">
            <editor [(object)]="item" property="DepartmentId" (valueChange)="toggleDisableButton()"
                [decorator]="{ lookup: { url: '/department/lookupItems/' + type } }"></editor>
        </div>
        <div class="col-sm-4">
            <editor [(object)]="item" property="UserId" (valueChange)="userChange()"></editor>
        </div>
        <div class="col-sm-4">
            <editor [(object)]="item" property="Amount" [decorator]="{ readonly: true }"></editor>
        </div>
        <div class="col-sm-12">
            <editor [(object)]="item" property="Note"></editor>
        </div>


    </div>
    <div class="row" *ngIf="item.TransferType && 
        item.TransferType == CustomerTransferType.TransferAffiliate">
        <div class="col-sm-12" *ngIf="items" style="margin-bottom: 20px;">
            <label>Tổng số khách hàng điều chuyển: {{ ids.length }} / {{ items.length }}</label>
            <p class="warning text-danger" *ngIf="ids.length != items.length">Lưu ý: nếu khách hàng thuộc Sale/CSKH khác
                thì
                sẽ không thể điều chuyển</p>
            <mcrm-customer-list [customers]="items" [action]="action" (removed)="removedItems($event)"
                (selected)="closePopup()"></mcrm-customer-list>
        </div>
        <div class="col-sm-12" *ngIf="items" style="margin-bottom: 20px;">
            <label>Điều chuyển tới cây hoa hồng:</label>
            <div class="row">
                <div class="col-sm-9">
                    <editor [(object)]="item" property="Search" (keyPressEnter)="searchUser()"
                        (valueChange)="clearUser()" [decorator]="{ label: '' }"></editor>
                </div>
                <div class="col-sm-3">
                    <editor-button label="Kiểm tra" [process]="processSearch" (click)="searchUser()"
                        [disabled]="item.Search ? false : true"></editor-button>
                </div>
            </div>
            <div class="error invalid-feedback" *ngIf="errorAffililate">{{ errorAffililate }}</div>
        </div>
        <div class="col-sm-12" *ngIf="user" style="margin-bottom: 20px;">
            <mcrm-customer-list-assign [customers]="user" (removed)="removedItems($event)">
            </mcrm-customer-list-assign>
        </div>
        <div class="col-sm-12">
            <editor [(object)]="item" property="Note"></editor>
        </div>

    </div>
</div>