<div>
    <p>Xác nhận thực hiện thiết lập mật khẩu cho khách hàng <b>{{ item.Name }}</b></p>
    <div class="row">
        <div class="col-sm-12">
            <editor [(object)]="item" property="Email" [viewer]="true"></editor>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <editor [(object)]="item" property="Phone" [viewer]="true"></editor>
        </div>
    </div>
    <br />
    <p>Thông tin thiết lập mật khẩu sẽ được gửi qua</p>
    <p>
        <editor [(object)]="item" property="Type" [decorator]="{ label: '', lookup: { items: types }}"></editor>
    </p>
</div>