.edit-meta-seo {
    .information {
        margin-bottom: 20px;
    }
}

::ng-deep .edit-meta-seo {
    .template {
        .kt-radio-selected {
            color: #fff;
            border-radius: 8px;
            background-color: #dd8c43;
            box-shadow: 0px 9px 16px 0px rgb(54 153 255 / 30%) !important;
        }
        .kt-radio-inline {
            display: flex;
            overflow: auto;
            align-items: center;
            justify-content: flex-start;
            .kt-radio {
                height: 62px;
                display: flex;
                margin-top: 0px;
                overflow: hidden;
                min-width: 150px;
                line-height: 58px;
                padding-left: 50px;
                border-radius: 4px;
                align-items: center;
                text-overflow: ellipsis;
                border: 1px solid #ccc;
                justify-content: flex-start;
                label {
                    margin: 0;
                    width: 70px;
                    overflow: hidden;
                    font-weight: bold;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                span {
                    top: 20px;
                    left: 20px;
                }
            }
        }
    }
}