::ng-deep .btn-search {
    margin-top: 21px;
    width: 135px;
}

.statistic-table {
    thead tr {
        background: #dadadd;

        .colEmpty {
            background: linear-gradient(to top right, #fff 0%, #fff 50%, #dadadd 50%, #dadadd 100%);
        }
    }
}

.symbol {
    flex-shrink: 0;
    position: relative;
    -ms-flex-negative: 0;
    display: inline-block;
    border-radius: 0.42rem;

    .symbol-label {
        width: 100px;
        height: 100px;
        border-radius: 0.42rem;
    }
}

.navi-item {
    margin: 4px 0;
    min-width: 300px;

    .navi-link {
        display: block;
        color: #3f4254;
        border-radius: 10px;
        text-decoration: none;
        border-radius: 0.42rem;
        padding: 0.75rem 1.5rem;
        transition: all 0.15s ease;

        svg {
            fill: #3f4254;
            color: #3f4254;

            g [fill] {
                fill: #3f4254;
                color: #3f4254;
            }
        }

        &:hover,
        &.active {
            color: #5867dd;
            background-color: #f3f6f9;

            svg {
                fill: #5867dd;
                color: #5867dd;

                g [fill] {
                    fill: #5867dd;
                    color: #5867dd;
                }
            }
        }
    }
}