::ng-deep .cancel-article {
    .grid-content {
        max-height: 300px !important;
        .table {
            .actions {
                width: 80px !important;
                max-width: 80px !important;
                .choice-column {
                    display: none;
                }
            }
        }
    }
    .cancel-section {
        margin-top: 0;
        padding-top: 0;
        .form-group {
            margin-top: 20px;
            margin-bottom: 0 !important;
        }
        .vertical {
            .kt-radio-inline {
                display: flex;
                margin-top: 10px;
                flex-direction: column;
            }
        }
    }
    .article-section {
        margin: 0;
        padding-top: 10px;
        border: 1px solid #ccc;
    }
}
