<div class="kt-portlet kt-portlet-edit-form kt-portlet--mobile">
    <edit-header *ngIf="breadcrumbs && actions && actions.length > 0" [breadcrumbs]="breadcrumbs" [actions]="actions" [processing]="processing"></edit-header>
    <div class="kt-portlet__body">
        <div class="kt-form kt-form--label-right" *ngIf="item">
            <div class="row">
                <div class="col-sm-12">
                    <div class="kt-portlet">
                        <div class="kt-portlet__body" *ngIf="!loading">
                            <div class="row" [ngClass]="alignClass">
                                <div [ngClass]="sizeClass">
                                    <div class="row" *ngIf="item && !loading && activeProperties">
                                        <div *ngFor="let column of activeProperties" [ngClass]="column.columnClass">
                                            <editor #upload [(object)]="item" [property]="column.property" [decorator]="{readonly: disabled, defaultValue: column.defaultValue}"></editor>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="kt-form" *ngIf="!item">
            <div class="row">
                <div class="col-sm-12">
                    {{ message }}
                </div>
            </div>
        </div>
    </div>
    <div class="kt-portlet__body" *ngIf="loading">
        <loading></loading>
    </div>
</div>