::ng-deep .transfer-article {
    .grid-content {
        max-height: 300px !important;
        .table {
            .actions {
                width: 80px !important;
                max-width: 80px !important;
                .choice-column {
                    display: none;
                }
            }
        }
    }
    .form-group {
        margin-top: 20px;
        margin-bottom: 0;
    }
}